body {
    background-image: url();
}
h1 {
    background-image: url(yukiyama1_m1.jpg);
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}
.item01 {
    background-image: url(back1.png);
    background-position: left;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
.item02 {
    text-align: center;
}
.item11 {
    text-align: center;
}
.item21 {
    text-align: center;
}
.item31 {
    text-align: center;
}
.item41 {
    text-align: center;
    background-image: url();
}
.item51 {
    text-align: center;
}
ul {
    font-weight: bold;
    line-height: 1.75;
    background-image: url(back1.png);
    list-style-type: square;
}
a:hover {
    position: relative;
    left: 2px;
    top: 2px;
}